RewriteEngine On
RewriteBase /projects/agence/caol/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|images|assets|robots\.txt)
RewriteRule ^(.*)$ /projects/agence/caol/index.php?/$1 [L]
